<header>
  <button type="button" id="collapse-button" [@animToggleSidenavBtn]="state()" (click)="collapsed.set(!collapsed())">
    <i class="material-symbols-rounded">chevron_{{collapsed() ? 'right': 'left'}}</i>
  </button>

  <button class="logo" (click)="collapsed.set(!collapsed())">
    <i class="material-symbols-rounded">cloud</i>
    <span [@fadeInOut]="collapsed()">E-Box</span>
  </button>

  <button type="button">
    <i [@rotate]="collapsed()" class="material-symbols-rounded">add</i>
    <span [@fadeInOut]="collapsed()">Create new</span>
  </button>
</header>

<hr>

<nav>
  <ul>
    @for(item of items.main; track $index) {
    <li>
      @if (
      !item.items || (item.items && item.items.length === 0) ||
      (collapsed() && item.items && item.items.length > 0)
      ) {
      <a routerLink="{{ item.routerLink }}" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }">
        <i class="material-symbols-rounded">{{ item.icon }}</i>
        <span [@fadeInOut]="collapsed()">{{ item.label }}</span>
      </a>
      }

      @if (!collapsed() && item.items && item.items.length > 0) {
      <a [class.active-route]="activeListItem(item)" (click)="toggleExpanded(item)">
        <i class="material-symbols-rounded">{{ item.icon }}</i>
        <span [@fadeInOut]="collapsed()">{{ item.label }}</span>
        @if (item.items && item.items.length > 0) {
        <i [@fadeInOut]="collapsed()" class="material-symbols-rounded">
          {{ item.expanded ? 'expand_less' : 'expand_more' }}
        </i>
        }
      </a>
      <submenu [sublevel]="item" [multiple]="multiple" [expanded]="item.expanded" [collapsed]="collapsed()" />
      }
    </li>
    }
  </ul>
</nav>

<hr>

<footer>
  <nav>
    <ul>
      @for(item of items.footer; track $index) {
      <li>
        <a routerLink="{{ item.routerLink }}">
          <i class="material-symbols-rounded">{{ item.icon }}</i>
          <span [@fadeInOut]="collapsed()">{{ item.label }}</span>
        </a>
      </li>
      }
    </ul>
  </nav>
</footer>